@import '@theme/colors.scss';
@import '@theme/spacings.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: $spacing-xxs;
  margin: $spacing-xxl 0;

  a {
    padding: $spacing-xxs $spacing-xs;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,.55);
    border-radius: 5px;

    &.active {
      background: $white;
      border: 2px solid $tertiary;
      font-weight: 600;
    }

    &:hover {
          background-color: rgba(65, 137, 230, .15);
    }
  }

  &__button {
    padding: $spacing-xxs $spacing-sm;    
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .icon {
    margin: 0 $spacing-xxs;
  }
}
