@import '@theme/colors.scss';
@import '@theme/spacings.scss';

.button {
  padding: 0px $spacing-lg;
  border: none;
  border-radius: $spacing-xs;
  cursor: pointer;
  font-size: $spacing-md;
  font-weight: 500;
  height: 48px;
  transition: background-color 0.3s ease;

  &.primary {
    background-color: $tertiary;
    color: $white;

    &:hover {
      background-color: $darker-blue
    }
  }

  &.secondary {
    background-color: $light-blue;
    color:  $tertiary;;

    &:hover {
      background-color: $dark-blue;
    }
  }
}
