@import '@theme/variables.scss';
@import '@theme/mixins.scss';

.item-container {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    flex-direction: row;
    &--left {
        margin-top: 50px;
        flex-basis: 0%;
        flex-grow: 2;
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-shrink: 1;
        width: 100%;
        padding-bottom: 40px;
        min-width: 800px;
        @include respond-to-sm {
            min-width: auto;
        }
    }
    &--right {
        border: 1px solid rgba(0, 0, 0, .1);
        margin-left: 48px;
        max-width: 368px;
        width: 368px;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 325px;
        padding: 16px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.category-breadcrumb {
    margin-bottom: 20px;
}