$primary: rgba(0,0,0,.9);
$secondary: rgba(0, 0, 0, .55);
$tertiary: #3483fa;
$accent: #00a650;

$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$transparent: rgba(0, 0, 0, 0);
$black: #000000;
$gray-darkest: rgb(102, 102, 102);
$gray-dark: #e5e5e5;
$gray: #f1f1f1;
$gray-light: #f5f5f5;
$white: #ffffff;

$light-blue: #e2edfc;
$dark-blue: #d9e7fa;
$darker-blue: #2968c8;

$background: #ffe600;
$foreground: #ebebeb;
$border: #ced4da;
$hover: #d8e2ef;
$active: #d6d8db;
$disabled: #6c757d;
